@import url("https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@300&display=swap");

body {
  background-color: #0a0a0a !important;
  margin: 0;
  padding: 0;
  font-family: "Stick No Bills", sans-serif !important;
}
.header {
  height: 100vh;
}
.navbar-style {
  box-shadow: 0 0px 12px #1f1f1f;
  background-color: #262323;
}
.logo {
  padding: 0px 0px;
  color: #ffffff;
}
.fa-twitter {
  color: #ffffff;
}
.fa-discord {
  color: #ffffff;
}
#announce {
  padding: 0px 0px;
}
.section {
  position: relative;
}
.About-dogs {
  color: #ffffff;
}

.detail {
  color: #f2f2f2;
  font-family: "Source Code Pro", monospace;
}
.text-center {
  padding: 20px;
  background-color: #bfbfbf;
  color: #ffffff;
  font-family: "Source Code Pro", monospace;
}
.mint-area {
  padding: 100px;
  border-radius: 5px;
}
.btn-green {
  background-color: #69ad49;
  color: #ffffff;
  font-size: 20px;
}
.road-map {
  text-align: center;
  color: #fff;
  padding: 0px 0px 40px 0px;
}
.description {
  color: #86d479;
}
.short {
  color: #f7f7f7;
  font-family: "Source Code Pro", monospace;
  font-size: 20px;
}
.footer-copyright {
  color: #1f1f1f;
}
.bg-image {
  width: 100%;
}
